{% extends 'base_bootstrap.html' %}
{% load humanize %}
{% load gravatar %}
{% block content %}

<h1>Chat</h1>

<div>
    <div style="height: 80vh; overflow-y: scroll">
    {% for message in message_list %}
        {% if message.is_reply %}
            <div class="chat-message-left pb-4">
                <div>
                    <img src="../../static/images/image_bot.jpg" class="rounded-circle mr-1 ml-1" width="40" height="40">
                    <div class="text-muted small text-nowrap mt-2" style="text-align:center;"> {{ message.created_at|naturaltime }} </div>
                </div>
                <div style="background-color:#EBEDF0;border-radius:.90rem!important;" class="flex-shrink-1 rounded py-2 px-3 ml-3">
                    <div class="font-weight-bold mb-1">Степан</div>
                    <div class="msg_rep"> {{ message.text }} </div>
                </div>
            </div>
        {% else %}
            <div class="chat-message-right pb-4">
                <div>
                    <img src="{% gravatar_url user.email 40 %}" class="rounded-circle mr-1 ml-1" width="40" height="40">
                    <div class="text-muted small text-nowrap mt-2" style="text-align:center;"> {{ message.created_at|naturaltime }} </div>
                </div>
                <div style="background-color:#DDEED8;border-radius:.90rem!important;" class="flex-shrink-1 rounded py-2 px-3 mr-3">
                    <div class="font-weight-bold mb-1">Вы</div>
                    <div class="msg_rep"> {{ message.text }} </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <div>
        <form method="post">
        {% csrf_token %}
        <input type="text" name="message" size="60" placeholder="Введите сообщение..."/>
        <input type="submit" value="Chat"/>
        </form>
    </div>
</div>

{% endblock %}